@import "tailwindcss";

@theme {
    --font-display: "Inter", "Courier New", "Courier", monospace;

    --text-xxl: 3rem;
    --text-xl: 1.75rem;
    --text-lg: 1.25rem;
    --text-md: 1rem;
    --text-sm: 0.85rem;

    --color-crimson: rgba(242, 53, 53, 1);
    --color-mid: rgba(125, 125, 125, 1);
    --color-dark: rgba(30, 30, 30, 1);
}

@layer base {
    html {
        @apply bg-dark font-display text-md text-mid select-none;
    }

    body {
        @apply grid place-content-center;
    }

    main {
        @apply flex w-[100dvw] flex-col items-center gap-3 overflow-x-hidden px-3 pt-6 pb-24 sm:w-[36rem] md:w-[42rem];
    }

    h1,
    h2,
    h3,
    h4 {
        @apply block w-full font-bold text-white;
    }

    h1 {
        @apply text-xxl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    h4 {
        @apply text-md;
    }
}
